:root {
    --bondibourke-davao-wheree-com-semantic-button-font-family: "Roboto",
      Helvetica;
    --bondibourke-davao-wheree-com-semantic-button-font-weight: 400;
    --bondibourke-davao-wheree-com-semantic-button-font-size: 10px;
    --bondibourke-davao-wheree-com-semantic-button-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-semantic-button-line-height: 14px;
    --bondibourke-davao-wheree-com-semantic-button-font-style: normal;
    --bondibourke-davao-wheree-com-semantic-heading-1-title-font-family: "Lexend",
      Helvetica;
    --bondibourke-davao-wheree-com-semantic-heading-1-title-font-weight: 700;
    --bondibourke-davao-wheree-com-semantic-heading-1-title-font-size: 50px;
    --bondibourke-davao-wheree-com-semantic-heading-1-title-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-semantic-heading-1-title-line-height: 60.000003814697266px;
    --bondibourke-davao-wheree-com-semantic-heading-1-title-font-style: normal;
    --bondibourke-davao-wheree-com-semantic-heading-2-font-family: "Outfit",
      Helvetica;
    --bondibourke-davao-wheree-com-semantic-heading-2-font-weight: 700;
    --bondibourke-davao-wheree-com-semantic-heading-2-font-size: 35px;
    --bondibourke-davao-wheree-com-semantic-heading-2-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-semantic-heading-2-line-height: 42px;
    --bondibourke-davao-wheree-com-semantic-heading-2-font-style: normal;
    --bondibourke-davao-wheree-com-semantic-heading-3-font-family: "Poppins",
      Helvetica;
    --bondibourke-davao-wheree-com-semantic-heading-3-font-weight: 700;
    --bondibourke-davao-wheree-com-semantic-heading-3-font-size: 32px;
    --bondibourke-davao-wheree-com-semantic-heading-3-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-semantic-heading-3-line-height: 41.599998474121094px;
    --bondibourke-davao-wheree-com-semantic-heading-3-font-style: normal;
    --bondibourke-davao-wheree-com-semantic-heading-5-font-family: "Lexend",
      Helvetica;
    --bondibourke-davao-wheree-com-semantic-heading-5-font-weight: 400;
    --bondibourke-davao-wheree-com-semantic-heading-5-font-size: 24px;
    --bondibourke-davao-wheree-com-semantic-heading-5-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-semantic-heading-5-line-height: 24px;
    --bondibourke-davao-wheree-com-semantic-heading-5-font-style: normal;
    --bondibourke-davao-wheree-com-semantic-input-font-family: "Lexend", Helvetica;
    --bondibourke-davao-wheree-com-semantic-input-font-weight: 300;
    --bondibourke-davao-wheree-com-semantic-input-font-size: 16px;
    --bondibourke-davao-wheree-com-semantic-input-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-semantic-input-line-height: normal;
    --bondibourke-davao-wheree-com-semantic-input-font-style: normal;
    --bondibourke-davao-wheree-com-semantic-item-font-family: "Lexend", Helvetica;
    --bondibourke-davao-wheree-com-semantic-item-font-weight: 400;
    --bondibourke-davao-wheree-com-semantic-item-font-size: 20px;
    --bondibourke-davao-wheree-com-semantic-item-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-semantic-item-line-height: 22px;
    --bondibourke-davao-wheree-com-semantic-item-font-style: normal;
    --bondibourke-davao-wheree-com-semantic-link-font-family: "Roboto", Helvetica;
    --bondibourke-davao-wheree-com-semantic-link-font-weight: 400;
    --bondibourke-davao-wheree-com-semantic-link-font-size: 10px;
    --bondibourke-davao-wheree-com-semantic-link-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-semantic-link-line-height: 14px;
    --bondibourke-davao-wheree-com-semantic-link-font-style: normal;
    --bondibourke-davao-wheree-com-semantic-options-font-family: "Lexend",
      Helvetica;
    --bondibourke-davao-wheree-com-semantic-options-font-weight: 400;
    --bondibourke-davao-wheree-com-semantic-options-font-size: 16px;
    --bondibourke-davao-wheree-com-semantic-options-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-semantic-options-line-height: 20px;
    --bondibourke-davao-wheree-com-semantic-options-font-style: normal;
    --bondibourke-davao-wheree-com-lexend-light-font-family: "Lexend", Helvetica;
    --bondibourke-davao-wheree-com-lexend-light-font-weight: 300;
    --bondibourke-davao-wheree-com-lexend-light-font-size: 14px;
    --bondibourke-davao-wheree-com-lexend-light-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-lexend-light-line-height: 18.200000762939453px;
    --bondibourke-davao-wheree-com-lexend-light-font-style: normal;
    --bondibourke-davao-wheree-com-lexend-light-underline-font-family: "Lexend",
      Helvetica;
    --bondibourke-davao-wheree-com-lexend-light-underline-font-weight: 300;
    --bondibourke-davao-wheree-com-lexend-light-underline-font-size: 20px;
    --bondibourke-davao-wheree-com-lexend-light-underline-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-lexend-light-underline-line-height: 30px;
    --bondibourke-davao-wheree-com-lexend-light-underline-font-style: normal;
    --bondibourke-davao-wheree-com-lexend-medium-font-family: "Lexend", Helvetica;
    --bondibourke-davao-wheree-com-lexend-medium-font-weight: 500;
    --bondibourke-davao-wheree-com-lexend-medium-font-size: 20px;
    --bondibourke-davao-wheree-com-lexend-medium-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-lexend-medium-line-height: 30px;
    --bondibourke-davao-wheree-com-lexend-medium-font-style: normal;
    --bondibourke-davao-wheree-com-lexend-regular-font-family: "Lexend", Helvetica;
    --bondibourke-davao-wheree-com-lexend-regular-font-weight: 400;
    --bondibourke-davao-wheree-com-lexend-regular-font-size: 24px;
    --bondibourke-davao-wheree-com-lexend-regular-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-lexend-regular-line-height: 24px;
    --bondibourke-davao-wheree-com-lexend-regular-font-style: normal;
    --bondibourke-davao-wheree-com-lexend-regular-title-font-family: "Lexend",
      Helvetica;
    --bondibourke-davao-wheree-com-lexend-regular-title-font-weight: 400;
    --bondibourke-davao-wheree-com-lexend-regular-title-font-size: 24px;
    --bondibourke-davao-wheree-com-lexend-regular-title-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-lexend-regular-title-line-height: 28.799999237060547px;
    --bondibourke-davao-wheree-com-lexend-regular-title-font-style: normal;
    --bondibourke-davao-wheree-com-lexend-regular-underline-font-family: "Lexend",
      Helvetica;
    --bondibourke-davao-wheree-com-lexend-regular-underline-font-weight: 400;
    --bondibourke-davao-wheree-com-lexend-regular-underline-font-size: 20px;
    --bondibourke-davao-wheree-com-lexend-regular-underline-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-lexend-regular-underline-line-height: 26px;
    --bondibourke-davao-wheree-com-lexend-regular-underline-font-style: normal;
    --bondibourke-davao-wheree-com-lexend-regular-underline-title-font-family: "Lexend",
      Helvetica;
    --bondibourke-davao-wheree-com-lexend-regular-underline-title-font-weight: 400;
    --bondibourke-davao-wheree-com-lexend-regular-underline-title-font-size: 24px;
    --bondibourke-davao-wheree-com-lexend-regular-underline-title-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-lexend-regular-underline-title-line-height: 28.799999237060547px;
    --bondibourke-davao-wheree-com-lexend-regular-underline-title-font-style: normal;
    --bondibourke-davao-wheree-com-lexend-regular-upper-font-family: "Lexend",
      Helvetica;
    --bondibourke-davao-wheree-com-lexend-regular-upper-font-weight: 400;
    --bondibourke-davao-wheree-com-lexend-regular-upper-font-size: 16px;
    --bondibourke-davao-wheree-com-lexend-regular-upper-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-lexend-regular-upper-line-height: 20.799999237060547px;
    --bondibourke-davao-wheree-com-lexend-regular-upper-font-style: normal;
    --bondibourke-davao-wheree-com-outfit-bold-font-family: "Outfit", Helvetica;
    --bondibourke-davao-wheree-com-outfit-bold-font-weight: 700;
    --bondibourke-davao-wheree-com-outfit-bold-font-size: 30px;
    --bondibourke-davao-wheree-com-outfit-bold-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-outfit-bold-line-height: 39px;
    --bondibourke-davao-wheree-com-outfit-bold-font-style: normal;
    --bondibourke-davao-wheree-com-roboto-regular-underline-font-family: "Roboto",
      Helvetica;
    --bondibourke-davao-wheree-com-roboto-regular-underline-font-weight: 400;
    --bondibourke-davao-wheree-com-roboto-regular-underline-font-size: 12px;
    --bondibourke-davao-wheree-com-roboto-regular-underline-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-roboto-regular-underline-line-height: normal;
    --bondibourke-davao-wheree-com-roboto-regular-underline-font-style: normal;
    --bondibourke-davao-wheree-com-roboto-regular-font-family: "Roboto", Helvetica;
    --bondibourke-davao-wheree-com-roboto-regular-font-weight: 400;
    --bondibourke-davao-wheree-com-roboto-regular-font-size: 12px;
    --bondibourke-davao-wheree-com-roboto-regular-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-roboto-regular-line-height: normal;
    --bondibourke-davao-wheree-com-roboto-regular-font-style: normal;
    --bondibourke-davao-wheree-com-roboto-medium-font-family: "Roboto", Helvetica;
    --bondibourke-davao-wheree-com-roboto-medium-font-weight: 500;
    --bondibourke-davao-wheree-com-roboto-medium-font-size: 14px;
    --bondibourke-davao-wheree-com-roboto-medium-letter-spacing: 0px;
    --bondibourke-davao-wheree-com-roboto-medium-line-height: normal;
    --bondibourke-davao-wheree-com-roboto-medium-font-style: normal;
  }